<div class="row">
  <div id="slider-wraper">
    <ul id="slider">
      <li><%= image_tag asset_path('slide1.jpg') %></li>
      <li><%= image_tag asset_path('slide2.jpg') %></li>
      <li><%= image_tag asset_path('slide3.jpg') %></li>
    </ul>
  </div>
</div>